@import "grid";
@import "reset";
@import "variables";
@import "abstracts/mixins";
// SINGLE CARD IN CARD HTML
.card-html {
    height: calc(100vh - 8rem);
    &__align-absolute-center {
        @include absoluteCentre;
    }
}

// CARDS ARE IN AN ul
ul {
    list-style: none;
}

// DEFINE CARD DIMENSIONS AND STYLES
.card {
    height: auto;
    width: 12rem;
    border: 3px solid black;
    border-radius: 12px;
}

//HEADER AND FOOTER STYLES
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: $color-logo;
    &__logo img {
        height: 4rem;
    }
}

// HERO SECTION
.hero,
img {
    width: 100%;
}

// INNER CARD STYLES
.card {
    position: relative;
    &__laptop-image img {
        width: 100%;
        border-radius: 12px 12px 0px 0px;
    }
    &__logo-image img {
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        width: 3rem;
        border-radius: 50%;
    }
    &__social-media-icons {
        display: flex;
    }
    &__social-media-icons img {
        width: 1.4rem;
        margin: 0.2rem;
    }
    &__social-media-icons,
    p {
        line-height: 1.2rem;
        padding: 0.4rem 0.5rem;
    }
    &__social-media-icons a {
        padding-right: 1.4rem;
        color: black;
    }
    &__social-media-icons a:hover {
        color: $color-red;
    }
}

// FOOTER
.footer {
    background-color: $color-logo;
    height: 4rem;
}